@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@700&family=Roboto&family=Space+Mono&display=swap');

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #f0f0f0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
  color: #333;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 400;
  line-height: 1.1;
  color: inherit;
}

.page-number1,
.page-number2 {
  display: none;
}

.square-icons {
  width: 20px;
  position: absolute;
  top: 2px;
  left: -30px;
}

h3 {
  text-decoration: underline;
}

#foto {
  width: 8vw;
  height: 8vw;
  border-radius: 50%;
  position: absolute;
  top: 0px;
  left: 13%;
  transition: transform .7s ease-in-out;
}

#foto:hover {
  transform: rotateX(360deg);
  transform: rotate(360deg);
  transform: rotateY(360deg);
}

h1 {
  font-size: 2.2vw;
  font-weight: 500;
  line-height: 1.1;
  color: inherit;
  margin-top: 55px;
  text-align: center;
}

.burger-nav {
  display: none;
}

nav ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  align-content: center;
}

nav li {
  font-weight: 500;
  list-style: none;
  font-size: 1.5vw;
}

a {
  color: rgb(107, 112, 141);
  text-decoration: none;

}

a:hover {
  color: blue;
  font-size: larger;
  text-decoration: none;
  pointer-events: cursor;
}

.container {
  display: flex;
  flex-direction: column;
  margin: 0px 25px;
}

nav h2 {
  font-size: 2.2vw;
  font-weight: 500;
  line-height: 1.1;
  color: inherit;
  margin: 15px 0px 45px;
  text-align: center;
}

.welcome {
  display: flex;
  flex-direction: column;
  align-content: space-around;
  justify-content: center;
  margin: 10px 50px 0px 50px;
  width: -webkit-fill-available;
}

.welcome h3 {
  margin-bottom: 15px;
  text-align: -webkit-center;
}

.welcome article {
  text-align: -webkit-center;
}

.black {
  font-weight: 600;
}

footer {
  position: sticky;
  bottom: 0;
  width: 100%;
  height: 80px;
  align-items: center;
  text-align: center;
  align-items: center;
  text-align: center;
  background-color: #f0f0f0;
}

.footer-ul {
  display: flex;
  align-items: center;
  align-content: center;
  text-decoration: none;
  list-style: none;
  justify-content: center;
}

footer li {
  margin: 15px;
}

.content_img div {
  position: absolute;
  bottom: 71px;
  right: 40%;
  background: black;
  color: white;
  margin-bottom: 5px;
  font-family: sans-serif;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: visibility 0s, opacity 0.5s linear;
  transition: visibility 0s, opacity 0.5s linear;
}

.content_img:hover div {
  width: 150px;
  padding: 8px 15px;
  visibility: visible;
  opacity: 0.7;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #f0f0f0;
  margin: 3em 3em 0em;
}

.content-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  list-style: none;
}

h5 {
  font-size: 1.2vw;
  font-weight: 500;
  color: inherit;

}

section.maincontent {
  width: 64%;
  max-height: -webkit-fill-available;
  background: floralwhite;
  padding: 0px 45px 45px 45px;
  z-index: -1;
}

.sidebar-left {
  width: 30%;
  max-height: -webkit-fill-available;
  padding-left: 2%;
  z-index: -1;
  background-color: lightgray;
}

.sidebar-left li {
  list-style: none;
  padding-right: 5px;
}

.sidebar-personal-data li {
  display: flex;
  align-items: center;
}

.sidebar-personal-data li img {
  width: 30px;
  height: auto;
  margin-right: 10px;
  margin-bottom: 5px;
}

h3 {
  margin: 30px 0 15px;
  font-size: 25px;
}

.sprach-li li {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
}

.sprach-li li span {
  width: 111px;
}

#linkedin-logo {
  width: 20px;
  padding: 0px 5px;
}

.softskills h4 {
  font-size: 1.5vw;
  margin: 10px 0px 5px;
}


#tools-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: -webkit-fill-available;
  flex-wrap: wrap;
  padding-right: 40px;
}

#tools-box img {
  width: 35px;
  margin: 2px 2px;
}

h5 {
  font-size: 15px;
}

h4 {
  font-size: 17px;
  font-weight: 500;
}

.maincontent li {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  align-content: flex-start;
}

.maincontent h4 {
  font-weight: 500;
  line-height: inherit;
  margin: 5px 0 0px;
  position: relative;
}

.maincontent p {
  padding-bottom: 15px;
}

.maincontent article {
  padding-bottom: 15px;
}

.transmallorca {
  visibility: hidden;
}



@media screen and (min-width:601px) {
  nav {
    position: sticky;
    top: 0;
    width: 100%;
    height: fit-content;
    margin-bottom: 15px;
    background-color: #f0f0f0;
  }

  section.maincontent {
    width: 64%;
    position: sticky;
    bottom: 500px;
    max-height: -webkit-fill-available;
    background: floralwhite;
    padding: 0px 45px 45px 45px;
    z-index: -1;
  }

  .sidebar-left {
    position: sticky;
    bottom: 500px;
    width: 28%;
    max-height: -webkit-fill-available;
    padding-left: 2%;
    z-index: -1;
  }
}

@media screen and (max-width:600px) {
  .burger-nav {
    display: block;
    position: sticky;
    height: 56px;
    color: #333;
    background-color: #f0f0f0;
    top: 0;
    right: 0;
    padding: 20px;
    cursor: pointer;
    z-index: 999;
  }

  #foto {
    width: 10vw;
    height: 10vw;
    border-radius: 50%;
    position: absolute;
    top: 32px;
    left: 13%;
    transition: transform .7s ease-in-out;
  }

  .desktop-nav {
    display: none;
  }

  .burger-wrapper {
    cursor: pointer;
  }

  #meny {
    background-color: #f0f0f0;
    width: 75%;
    height: 100vh;
    position: fixed;
    padding: 163px 55px 0 55px;
    right: 0;
    transform: translateX(50rem);
    top: 0;
    z-index: 9;
    transition: 0.5s;
  }

  #menyAvPaa {
    display: none;
  }

  #menyAvPaa:checked~#meny {
    transform: translateX(0rem);
  }

  #burger {
    position: absolute;
    cursor: pointer;
    width: 2rem;
    height: 2rem;
    right: 2.9rem;
    top: 1.9rem;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  }

  #burger-logo {
    margin: 1.9rem;
    width: 100px;
  }

  #burger>div {
    height: 2px;
    background-color: #333;
    transition: 0.5s;
    z-index: 999;
  }

  #menyAvPaa:checked~#burger>div {
    background-color: #333;
  }

  #menyAvPaa:checked~#burger>div:nth-child(1) {
    transform: translateY(15px) rotate(45deg);
  }

  #menyAvPaa:checked~#burger>div:nth-child(2) {
    opacity: 0;
  }

  #menyAvPaa:checked~#burger>div:nth-child(3) {
    transform: translateY(-15px) rotate(-45deg);
  }

  #meny ul li {
    text-decoration: none;
    list-style: none;
    margin: 50px 0 0 0px;
  }

  #meny ul li a {
    text-decoration: none;
    list-style: none;
    color: darkblue;
    font-size: 30px;
  }

  #meny ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    flex-direction: column;
  }

  .content-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 1px;
  }

  .sidebar-left {
    padding-bottom: 20px;
    width: 100%;
    height: 100%;
  }

  .sidebar-personal-data li {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin: 0 8%;
  }

  .sidebar-personal-data li span {
    display: flex;
    width: 100%;
  }

  .sidebar-left h3 {
    font-size: 25px;
    text-align: center;
  }

  .sprach-li {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 0px 10%;
  }

  .sprach-li li {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
  }

  .sprach-li li span {
    width: 135px;
    font-size: 12px;
  }

  .softskills h4 {
    font-size: 4.5vw;
    font-family: 'Quicksand';
  }

  .softskill-section {
    margin: 0px 10%;
  }

  #tools-box {
    display: flex;
    justify-content: space-between;
    width: -webkit-fill-available;
    flex-wrap: wrap;
    padding: 0;
    margin: 0px 10%;
  }

  section.maincontent {
    width: auto;
    height: 100%;
    z-index: -1;
    background: floralwhite;
    bottom: auto;
  }

  .maincontent li {
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  .maincontent h4 {
    font-size: 5vw;
    width: 100%;
    line-height: inherit;
    margin-top: 10px;
  }

  .footer {
    position: fixed bottom;
    bottom: 0;
    -webkit-mask-position-y: bottom;
  }

  section.academics {
    padding-right: 15px;
  }

}


@media print {
  @page {
    size: A4;
    margin: 0;
  }

  hr {

    border-top: 1px solid grey;
  }

  #tools-box img {
    width: 40px;
    margin: 2px 2px;
  }

  #foto {
    width: 13vw;
    height: 13vw;
    border-radius: 50%;
    position: absolute;
    top: 35px;
    left: 15%;
  }

  a {
    page-break-inside: avoid;
  }

  blockquote {
    page-break-inside: avoid;
  }

  html,
  body {
    width: 210mm;
    height: 290mm;
  }

  nav ul {
    display: none;
  }

  nav h1 {
    font-size: 2.2vw;
    font-weight: 500;
    line-height: 1.1;
    color: inherit;
    margin-top: 55px;
    padding-left: 78px;
    text-align: center;
  }

  nav h2 {
    font-size: 2.2vw;
    font-weight: 500;
    line-height: 1.1;
    color: inherit;
    margin: 15px 0px 45px;
    padding-left: 78px;
    text-align: center;
  }

  h4 {
    font-weight: 500;
  }

  h5 {
    font-weight: 300;
  }

  .lengua {
    font-size: 12px;
  }

  .lengua-pos {
    font-size: 12px;
    width: 150px;
    position: relative;
    left: -5px;
  }

  .softskills h4 {
    color: blue;
  }

  .footer-ul {
    display: none;
  }

  section.maincontent {
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    max-height: -webkit-fill-available;
    background: floralwhite;
    margin-right: 25px;
    z-index: -1;
  }

  .sidebar-left {
    width: 25%;
    max-height: -webkit-fill-available;
    padding: 10%;
    z-index: -1;
  }

  .content-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-top: -70px;
    list-style: none;
    align-items: center;
  }

  .academics {
    page-break-inside: avoid;
    position: relative;
    top: -320px;
    margin-bottom: 150px;
  }

  #german-academics {
    top: -360px;
  }

  #german-academics p {
    font-size: 11px;
  }

  h3 {
    font-size: 17px;
    font-weight: 700;
  }

  #english-academics {
    page-break-inside: avoid;
    position: relative;
    top: -360px;
    margin-bottom: 150px;
  }

  #english-academics p {
    font-size: 12px;
  }

  #english-academics h4 {
    font-weight: 600;
    font-size: 13px;
    margin-bottom: 5px;
  }

  #mba-en {
    position: relative;
    top: -13px;
    left: -22px;
  }

  #mba-icon-eng {
    position: relative;
    top: 5px;
    left: -7px;
  }

  .interline {
    position: relative;
    bottom: 13px;
  }

  .personal-title {
    font-weight: 600;
    margin-top: 55px;
  }

  .english-h3-title {
    font-weight: 600;
  }

  .sidebar-personal-data {
    margin-bottom: 20px;
    font-size: 10px;
  }

  .sprach-li {
    margin: 15px 0 450px;
    width: 13cm;
    font-size: 12px;
  }

  #sprach-li-eng {
    font-size: 12px;
  }

  .softskill-section {
    position: relative;
    top: 119px;
  }

  #softskill-section-eng {
    top: 119px;
  }

  #softskill-section-eng p {
    font-size: 11px;
  }

  #german-softskills li p {
    font-size: 11px;
  }

  .berufserfahrung {
    position: absolute;
    top: 1125px;
    padding-right: 20px;
  }

  .berufserfahrung-eng {
    position: absolute;
    top: 1175px;
    padding-right: 20px;
  }

  .tech-stack-pack {
    position: absolute;
    top: 680px;
    width: 250px;
  }

  .esp-tech-stack-pack {
    position: absolute;
    top: 655px;
    width: 250px;
  }

  .eng-tech-stack-pack {
    position: absolute;
    top: 640px;
    width: 250px;
  }

  .tech-stack-pack h3 {
    font-weight: 700;
  }

  .tech-title {
    font-weight: 600;
    padding-top: 25px;
  }

  article {
    display: none;
  }

  .work-experience {
    margin-bottom: 30px;
  }

  .work-experience h4 {
    font-size: 13px;
  }

  .hide-functions {
    display: none;
  }

  .academics p {
    font-size: 12px;
  }

  .academics h4 {
    font-weight: 500;
    font-size: 13px;
    margin-bottom: 5px;
  }

  .german-masterba {
    position: relative;
    top: 10px;
  }

  .berufserfahrung h3 {
    margin-top: 80px;
    font-weight: 700;
    margin-bottom: 0px;
  }

  #berufserfahrung-german {
    margin-top: 20px;
  }

  .berufserfahrung h4 {
    font-weight: 700;
  }

  #berufserfahrung-german h4 {
    font-weight: 600;
  }

  .prof-height {
    height: 25px;
  }

  .academics h4 {
    font-weight: 700;
  }

  .softskill-section h4 {
    font-weight: 700;
  }

  .softskill-section p {
    font-weight: 400;
    font-size: 12px;
  }

  .transmallorca {
    visibility: hidden;
    position: absolute;
    bottom: 30px;
    display: none;
    color: white;
  }

  .square-icons {
    top: 1px;
  }

  .page-number1 {
    display: contents;
    position: absolute;
    bottom: 0;
    left: 0;
    font-size: 10px;
    color: #999;
    font-family: sans-serif;
    font-weight: 300;
    padding: 0 0 0 10px;
  }

  .page-number2 {
    display: contents;
    position: absolute;
    bottom: -500px;
    text-align: center;
    font-size: 10px;
    color: #999;
    font-family: sans-serif;
    font-weight: 300;
  }

  .pagenumber {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
  }
}
