@import url('https://fonts.googleapis.com/css2?family=Caveat+Brush&family=Roboto:wght@100;300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat+Brush&display=swap');

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #f0f0f0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
  color: #333;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Caveat Brush', cursive;
  font-weight: 400;
  line-height: 1.1;
  color: inherit;
}


#foto {
  width: 10vw;
  height: 10vw;
  border-radius: 50%;
  position: absolute;
  top: 0px;
  left: 13%;
  transition: transform .7s ease-in-out;
}

#foto:hover {
  transform: rotateX(360deg);
  transform: rotate(360deg);
  transform: rotateY(360deg);
}

h1 {
  font-size: 4vw;
  font-weight: 500;
  line-height: 1.1;
  font-family: 'Caveat Brush';
  color: inherit;
  margin-top: 55px;
  text-align: center;
}

.burger-nav {
  display: none;
}

nav ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  align-content: center;
}

nav li {
  font-weight: 600;
  list-style: none;
  font-size: 1.5vw;
}

nav {
  position: sticky;
  top: 0;
  width: 100%;
  height: fit-content;
  margin-bottom: 15px;
  background-color: #f0f0f0;
}

a {
  color: rgb(107, 112, 141);
  text-decoration: none;

}

a:hover {
  color: blue;
  font-size: larger;
  text-decoration: none;
  pointer-events: cursor;
}

.container {
  display: flex;
  flex-direction: column;
  margin: 0px 25px;
}

nav h2 {
  font-size: 3vw;
  font-weight: 500;
  line-height: 1.1;
  font-family: 'Caveat Brush';
  color: inherit;
  margin: 15px 0px 45px;
  text-align: center;
}

.welcome {
  display: flex;
  flex-direction: column;
  align-content: space-around;
  justify-content: center;
  margin: 10px 50px 0px 50px;
  width: -webkit-fill-available;
}

.welcome h3 {
  margin-bottom: 15px;
  text-align: -webkit-center;
}

.welcome article {
  text-align: -webkit-center;
}

footer {

  position: sticky;
  bottom: 0;
  width: 100%;
  height: 60px;
  align-items: center;
  text-align: center;
  align-items: center;
  text-align: center;
  background-color: #f0f0f0;
}

.footer-ul {
  display: flex;
  align-items: center;
  align-content: center;
  text-decoration: none;
  list-style: none;
  justify-content: center;
}

footer li {
  margin: 15px;
}

.content_img div {
  position: absolute;
  bottom: 71px;
  right: 40%;
  background: black;
  color: white;
  margin-bottom: 5px;
  font-family: sans-serif;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: visibility 0s, opacity 0.5s linear;
  transition: visibility 0s, opacity 0.5s linear;
}

.content_img:hover div {
  width: 150px;
  padding: 8px 15px;
  visibility: visible;
  opacity: 0.7;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid grey;
  margin: 3em 3em;
}

.content-container {
  display: flex;
  flex-direction: row;
  margin: 0px 25px;
  align-items: center;
  justify-content: space-between;
  margin-top: 55px;
}

section.maincontent {
  width: 64%;
  height: 100vh;
  background: floralwhite;
  padding: 0px 45px 45px 45px;
}

.sidebar-left {
  width: 25%;
  height: 100vh;
  padding-left: 10%;
}

.sidebar-left li {
  list-style: none;
}

.content-container li {
  list-style: none;
}

.sidebar-personal-data li {
  display: flex;
  align-items: center;
}

.sidebar-personal-data li img {
  width: 30px;
  height: auto;
  margin-right: 10px;
  margin-bottom: 5px;
}

h3 {
  margin: 30px 0 15px;
}

#tools-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: -webkit-fill-available;
  flex-wrap: wrap;
  padding-right: 40px;
}

#tools-box img {
  width: 20%;
  margin: 2px 2px;
}

h3 {
  font-size: 25px;
}

.maincontent li {
  display: flex;
  align-items: center;
}

.maincontent h4 {
  font-size: 1.5vw;
  width: 172px;
  line-height: inherit;
}



@media screen and (max-width:600px) {
  .burger-nav {
    display: block;
    position: sticky;
    height: 56px;
    color: #333;
    background-color: #f0f0f0;
    top: 0;
    right: 0;
    padding: 20px;
    cursor: pointer;
    z-index: 999;
  }

  #foto {
    width: 10vw;
    height: 10vw;
    border-radius: 50%;
    position: absolute;
    top: 32px;
    left: 13%;
    transition: transform .7s ease-in-out;
  }

  .desktop-nav {
    display: none;
  }

  .burger-wrapper {
    cursor: pointer;
  }

  #meny {
    background-color: #f0f0f0;
    width: 75%;
    height: 100vh;
    position: fixed;
    padding: 163px 55px 0 55px;
    right: 0;
    /* transition-timing-function: cubic-bezier(10, 2, 3, 1); */
    transform: translateX(50rem);
    top: 0;
    z-index: 9;
    transition: 0.5s;
  }

  #menyAvPaa {
    display: none;
  }

  #menyAvPaa:checked~#meny {
    transform: translateX(0rem);
  }

  #burger {
    position: absolute;
    cursor: pointer;
    width: 2rem;
    height: 2rem;
    right: 2.9rem;
    top: 1.9rem;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  }

  #burger-logo {
    margin: 1.9rem;
    width: 100px;
  }

  #burger>div {
    height: 2px;
    background-color: #333;
    transition: 0.5s;
    z-index: 999;
  }

  #menyAvPaa:checked~#burger>div {
    background-color: #333;
  }

  #menyAvPaa:checked~#burger>div:nth-child(1) {
    transform: translateY(15px) rotate(45deg);
  }

  #menyAvPaa:checked~#burger>div:nth-child(2) {
    opacity: 0;
  }

  #menyAvPaa:checked~#burger>div:nth-child(3) {
    transform: translateY(-15px) rotate(-45deg);
  }

  #meny ul li {
    text-decoration: none;
    list-style: none;
    margin: 50px 0 0 0px;
  }

  #meny ul li a {
    text-decoration: none;
    list-style: none;
    color: darkblue;
    font-size: 30px;
  }

  #meny ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    flex-direction: column;
  }

  .content-container {
    display: flex;
    flex-direction: column;
    margin: 0px 19px 5px 19px;
    justify-content: space-between;
    margin-top: 55px;
  }

  .sidebar-left {
    width: 100%;
    height: 100%;
    padding: 0 10% 0 10%;
    margin-bottom: 75px;
  }

  .sidebar-personal-data li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 12%;
  }

  .sidebar-personal-data li span {
    display: flex;
    width: 118px;
  }

  .sidebar-left h3 {
    font-size: 25px;
    text-align: center;
  }

  .sprach-li {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 0px 10%;
  }

  .sprach-li li {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
  }

  .sprach-li li span {
    width: 45px;
  }

  #tools-box {
    display: flex;
    justify-content: space-between;
    width: -webkit-fill-available;
    flex-wrap: wrap;
    padding: 0;
  }

  section.maincontent {
    width: 64%;
    height: 100vh;
    background: floralwhite;
    margin-top: 100px;
    padding: 1px 45px 45px 45px;
  }

}
